<!-- app/views/annonces/categorie.html.erb -->
<h1 class="text-2xl font-bold mb-4">Annonces <%= action_name.capitalize %></h1>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
  <% @annonces.each do |annonce| %>
    <%= render annonce %>
  <% end %>
</div>